@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&family=Quicksand:wght@400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: "#283891";
  --secondary: "#FCA426";
  --green: #1aa74f;
  --white: "#ffffff";
  --black: "#000000";
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  background-color: #fbfdff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
span {
  line-height: 1.6;
  letter-spacing: 1.6px;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  position: relative;
  min-height: 100vh;
}

.wrap {
  padding-bottom: 5rem;
}

section {
  padding-left: 2rem;
  padding-right: 2rem;
}

.container {
  max-width: 1400px;
}

a:hover,
button:hover {
  transition: all 0.5s ease;
}

/* Items */
@media screen and (min-width: 1024px) {
  .items > div:nth-child(even) img,
  .activities > div:nth-child(odd) img {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }

  .items > div:nth-child(odd) img,
  .activities > div:nth-child(even) img {
    order: 2;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 0 !important;
  }

  .items > div > figure:last-child img,
  .activities > div > figure:last-child img {
    border-bottom-left-radius: 1rem;
  }

  .items > div:first-child img,
  .activities > div:first-child img {
    border-top-left-radius: 1rem;
  }

  .items > div:nth-child(even) .content,
  .activities > div:nth-child(odd) .content {
    padding-left: 4rem;
  }

  .items > div:nth-child(odd) .content,
  .activities > div:nth-child(even) .content {
    padding-right: 4rem;
  }

  .items img,
  .activities img {
    width: 100%;
    height: 420px;
    object-fit: cover;
  }
}

/* Post */
.post-title::before {
  position: absolute;
  content: "";
  width: 4rem;
  height: 2px;
  top: 0.7rem;
  z-index: 1;
  background-color: #17403f;
}

/* Post & Newsletter page */
.post-container {
  max-width: 1100px;
}

/* Home Activities */
.home-activities .activity {
  border: 1px solid rgba(100, 100, 100, 0.5);
  position: relative;
}

@media screen and (min-width: 1018px) {
  .home-activities .activity:not(> figure:last-child)::after {
    position: absolute;
    content: "";
    right: -1.2rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 1px;
    height: 2rem;
    background-color: rgba(100, 100, 100, 0.8);
  }
}

/* Player */
.player-card {
  background: radial-gradient(#4d4d4d, #0a0a0a);
}

/* Featured */
.featured {
  position: relative;
}

.featured::after {
  position: absolute;
  content: "";
  top: 0;
  height: 90%;
  max-width: 100%;
  background-color: red;
  z-index: -1;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
}

.posts-link {
  display: none;
}

.home-posts-container {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  align-items: center;
  gap: 5rem;
}

.home-posts {
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: var(--white);
  padding-bottom: 3rem;
}

/* Scrollbar width */
.home-posts::-webkit-scrollbar {
  width: 0.8rem;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
}

/* Track */
.home-posts::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5rem;
}

/* Handle */
.home-posts::-webkit-scrollbar-thumb {
  background: #283891;
  border-radius: 5rem;
}

/* Handle on hover */
.home-posts::-webkit-scrollbar-thumb:hover {
  background: #2f41a8;
}

@media screen and (max-width: 968px) {
  .home-posts-container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .all-posts-link {
    display: none;
  }

  .posts-link {
    display: block;
  }
}

.mission-vision {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}

.mission-vision > figure:last-child {
  margin-top: 7rem;
}

.core-values {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

@media screen and (max-width: 1300px) {
  .mission-container {
    flex-direction: column;
    gap: 3rem;
  }
}

@media screen and (max-width: 1200px) {
  .core-values {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .core-values {
    grid-template-columns: 1fr;
    gap: 5rem;
  }

  .mission-vision {
    grid-template-columns: 1fr;
  }

  .mission-vision > figure:last-child {
    margin-top: 0;
  }
}
